/* MyPosts.module.css */

.postBlock {
  margin: 0rem auto;
  padding: 1rem;
  max-width: 25rem;
  text-align:start;
  border-radius: 6px;
  /* background: linear-gradient(#230736, #301247); */
  box-shadow: 0 0 8px rgba(0,0,0,0.3); 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.label{
  display: block;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
  /* letter-spacing: 0.1rem; */
  font-weight: 700;
  text-align: left;
  font-size: 13px;
  color: #333;
  text-transform: capitalize;


}

.input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #493066;
  /* background: #493664; */
  color: #e5d9f1;
  font-size: 0.9rem;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.addButton {
  margin-top: auto; /* Push the button to the bottom */
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  border: 1px solid #493066;
  background: #cfdaec;
  color: #094d74;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 767px) {
  .postBlock {
    padding: 1rem; /* Reduce padding for smaller screens */
  }
}



.commentWrapper {
  margin-top: 20px;
  display: flex;
  margin-bottom: 10px; 
  border: 1px solid #e5d9f1;
 padding: 5px;
 width: 100%;
 border-radius: 10px;
}

.userIcon {
 
  margin-right: 5px; 
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #333; 
}

.nameUser{
  font-size: 9px;
  color: #333;
  text-transform: capitalize;

}


.commentContent {
  display: flex;
  flex-direction: column;
}