
button {
    border: none;
    
  }
  .content-tabs {
    flex-grow : 1;
  }

.post-header {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 18px;
  }
  
  .media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    
  }
  
  
  .post-header .media .activity-avatar .user-img {
    position: relative;
    margin-right: 14px;
    padding: 5px;
  
  }
  
  
  .check-icon {
    color: white;
    margin-right: 5px; 
    margin: 0px 0px 0px 20px;
    padding:3px;
    background-color: #759cd8;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  
  
  .avatar{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  
  
  }
  
  
  .small, small {
    font-size: 80%;
    font-weight: 400;
  }
  a {
    cursor: pointer;
    color: #2d5be3;
    display: inline-block;
    text-decoration: none;
    transition: all .3s ease-in-out;
    padding: 0px 0px 20px 10px;
  }
  a {
    background-color: transparent;
  }
  
  .post-header .media .activity-avatar .status-info .activity-title {
    font-size: 14px;
  }
 
  
  *, :after, :before {
    box-sizing: inherit;
  }
  
  
  .activity-time {
    color: #9e9faf;
    font-size: 13px;
    text-transform: capitalize;
    padding: 0px 0px 0px 60px;
  }
  
  .content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  
  
  .active-content {
    display: block;
  }

  .post-body {
    padding: 0 30px 10px;
  }

.post-view .post-body .activity-inner {
  padding: 0 30px 10px;
}

.post-view .post-body p.widget-box-status-text {
  white-space: pre-wrap;
}
.post-view .post-body p {
  font-size: 15px;
  color: #71728c;
  line-height: 24px;
  margin-bottom: 20px;
}



