#examples {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 0 30px 10px;
  }
  
  #examples h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  #examples menu {
    display: flex;
    flex-wrap: wrap ;
    list-style-type: none;
    padding: 0px;
  }
  
  #examples li {
    margin-right: 10px;
  }
  
  #examples button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
  }
  
  #examples button:hover {
    background-color: #0056b3;
  }
  