.banner-user .media .item-img{
    position: relative;
    margin-right: 30px;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
    display: inline-block;
    width: 125px;
}
* , :after, :before {
    box-sizing: inherit;
}